:root {
  --primary-black: #1b1b1b;
  --primary-turquoise: #39a78d;
  --primary-gray: #f5f5f5;
}

body {
  font-family: "Roboto", monospace;
  background-color: var(--primary-black);
  color: var(--primary-gray);
}
.navbar {
  background-color: var(--primary-black) !important;
  color: var(--primary-gray) !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--primary-gray) !important;
}

.navbar .navbar-toggler {
  border-color: var(--primary-black) !important;
  background-color: var(--primary-turquoise) !important;
}

.eshop-first {
  max-width: 100%;
  height: auto;
}
footer {
  color: var(--primary-gray);
}
.btn {
  background-color: var(--primary-turquoise);
  color: var(--primary-gray);
}
.btn:hover,
.button.btn:hover {
  background-color: #17c79e;
}
.link-mail,
.link-tel {
  color: var(--primary-gray);
  text-decoration: none;
}
.link-mail:hover,
.link-tel:hover {
  text-decoration: underline; /* Podkreśla link po najechaniu */
}
.product-cart {
  background-color: var(--primary-gray);
}
.footer-text {
  font-size: small;
}
.btn-add {
  background-color: var(--primary-turquoise);
  color: var(--primary-gray);
}
.btn-add:hover {
  background-color: #17c79e;
  color: var(--primary-gray);
}
.counter {
  background-color: var(--primary-turquoise);
  margin-top: 1px;
  margin-left: 0.5rem;
}
.alert-success {
  text-align: center;
}
.logoEshop {
  height: 90px;
  width: auto;
  border-radius: 50px;
}
